---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Timeline from "../../components/Timeline.astro";
import TimelineItem from "../../components/TimelineItem.astro";

const frontmatter = {
  title: "Autoignition Research (Summer 2025)",
  subtitle: "Reaction mechanisms, surrogate fuels, lab work.",
  reportUrl: "/ColinGraySURF2024FinalReportAll.pdf"
};
---
<ProjectLayout frontmatter={frontmatter}>
  <div slot="summary">
    <h2>Project Overview</h2>
    <p>
    As my first experience with combustion, I learned a lot over this summer. To start, I had to self study a bit of combustion, read through sldies that Professor Shepherd had used for previous classes and search what I didn't understand. After getting a solid foundation, I began to explore my topic of ways to increase the AIT of sustainable fuels to make them safer. 
    To give an overview, I did a few weeks of pure research: finding numbers, adding them to spreadsheets, database searches, and understanding the apparatus I was using. We decided the strongest correlations (that were feasible to test) in pure hydrocarbon components was increased branching and chain length among same size molecules. This was tested just by investigating the performance of relevant surrogate fuels.
    My results matched my hypothesis (as shown in the image below). I successfully presented, pondered, discussed, and justified my results in front of several audiences. I was able to answer all relevant questions regarding my work at conferences and seminars, and I think I still could. This experience <strong>REALLY</strong> put me into the forefront in terms of combustion chemistry knowledge and intuition.
    To read the results and actual research, please skim the report linked above, I spent a LONG time writing it.
     </p>
    
    <!-- New Image Grid -->
    <div class="image-grid">
      <div class="image-cell">
        <figure>
          <img src="/images/projects/autoignition/ait_image11.jpg" alt="Picture of a temp spikes across diff initial temps." />
          <figcaption>One of the beautiful graphs that shows temperature spikes (ignition) across several temps.</figcaption>
        </figure>
      </div>
      <div class="image-cell">
        <figure>
          <img src="/images/projects/autoignition/ait_image12.jpg" alt="Table showing results for each surrogate fuels." />
          <figcaption>This table actually sums up pretty much the results of my experimentation the entire summer. Essentially, the boundaries of ignition are increasing as molecules become more compact (my hypothesis).</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div slot="journey">
    <h2>Personal Notes About the Journey</h2>
    <p>    
    I feel like this experience was really a crash course on academia but a different side. Maybe it was because I as just a high schooler in my previous main research experience (Wake Forest School of Medicine) but I felt a LOT of pressure in this environment. The weekly meetings with the lab group meant I had to keep pushing. I wanted actual results and was somewhat hopefuly to submit my report to the CURJ or present at the national conference. Sadly, I couldn't get funding for the national conference and my work was too incomplete for the CURJ.
    A lot of planning went in to making sure I got proper baseline tests, controls, repeatable results, etc. There were also a lot of mistakes I made that I learned from, patience being the biggest. Below, as with other portfolio pages, I'm mainly going to talk about my struggles and difficulties I encountered in the timeline. 
    </p>
  </div>

  <div slot="timeline">
    <Timeline>
      <TimelineItem 
        date="Step 1: Inital Research" 
        imageSrc="/images/projects/autoignition/ait_image1.jpg" 
        description="Ignoring my friend's sarcastic remark, this is a live reaction to when I was first introduced to combustion chemistry.">
        <p>As I mentioned above, I first began studying how combustion works. I was *quite* ambitious and had high expectations. In a way, although I hate to admit this, the complexity of combustion gave me relief: "if anything crazy happens, it can be justified by saying combustion is complex and unpredictable."</p>
      </TimelineItem>

      <TimelineItem 
        date="Step 2: Experimental Planning/Understanding Previous Work" 
        imageSrc="/images/projects/autoignition/ait_image2.jpg" 
        description="A screenshot describing the modes of ignition from the paper <a href=https://doi.org/10.1016/j.jlp.2021.104454'>here</a>">
        <p>A bit of double-edged sword is that that the lab had just published work done by a previous member of the group, and it was the work that discussed modes of ignition. It can be found in the description of the image (click on it). I had a lot of meetings or discussions where I would simply confirm or ask questions about the paper, it helped a ton. <a href=https://doi.org/10.1016/j.jlp.2021.104454'>LINK TO PAPER</a></p>
      </TimelineItem>

      <TimelineItem 
        date="Step 3: Textbooks and DIPPR Database Access" 
        imageSrc="/images/projects/autoignition/ait_image3.jpg" 
        description="Funny story, I tried to login to the database and got this page. I need to finish this portfolio today, so this will have to do. Caltech MIGHT not like if I changed the password for the entire school.">
        <p>One of the first difficulties I encountered was how monotonous it was to put all of the data points for AIT and other characteristics into an Excel spreadsheet. In addition, I realized that some molecules that I felt like would be needed for correlational research were missing. The DIPPR database solved this. Funny enough, DIPPR often sited the textbooks I originally used for information.</p>
      </TimelineItem>

      <TimelineItem 
        date="Step 4: Investigation/Sorting of Data" 
        imageSrc="/images/projects/autoignition/ait_image4.jpg" 
        description="This is a super zoomed out view of the spreadsheet. The spreadsheet has important numbers, names, and then NUMBERS representing structure.">
        <p>Next difficulty I encountered was figuring out how to QUANTIFY structure. I decided to basically create tons of columns, like number of branches, length, total carbons, double bonds, triple bonds, WHERE those double bonds are, etc. All with the goal of creating various graphs. It worked great, tons of graphs were made.</p>
      </TimelineItem>

      <TimelineItem 
        date="Step 5: Practicality, Cost, and Feasability" 
        imageSrc="/images/projects/autoignition/ait_image5.jpg" 
        description="My first ever chemical order.">
        <p>Even with the data pointing us in specific directions, there was a lot that went into picking 9 carbon sized molecules, the main thing being price and availibility of pure substances. The reality is that this was a correlational study, so no shortcuts like slamming some isooctane in there would have made sense. I remember originally wanting to do 10 carbon molecules, but one of the chemicals was over 1000 dollars...</p>
      </TimelineItem>

      <TimelineItem 
        date="Step 6: Surrogate Fuels" 
        imageSrc="/images/projects/autoignition/ait_image6.jpg" 
        description="I couldn't find the original data I wanted to screenshot of me comparing fuels actual composition and AIT to the average of their composition's AIT so here is this screenshot from <a href=https://doi.org/10.1016/j.proci.2008.06.218'>THIS</a> paper.">
        <p>Another part of choosing which fuels to investigate was basically trying to find out if there was already evidence of linearity. Apparently, not really. Surrogate fuels are made to replicate fossil fuels since things from the ground often have very different compositions and can't be researched. There are famous batches or surrogates, but my intiial investigation found little correlation. We chose the Aachen surrogate to replicate. <a href=https://doi.org/10.1016/j.proci.2008.06.218'>LINK TO PAPER</a></p>
      </TimelineItem>

      <TimelineItem 
        date="Step 7: Blissful Research" 
        imageSrc="/images/projects/autoignition/ait_image7.jpg" 
        description="Just an image of the apparatus I used.">
        <p>Research went pretty smooth after all of this. I would come to the lab super early to start heating the apparatus, chill and do some work on my laptop, start running tests while chilling an hour to let the flask cool between tests, then blast the furnace every couple days while I go to the gym. It was peaceful. There were obviously some mistakes and some ups and downs but they were mainly human error I learned from.</p>
      </TimelineItem>

          <TimelineItem 
        date="Step 8: Final Presentation and Paper Growing (SHRINKING) Pains" 
        imageSrc="/images/projects/autoignition/ait_image8.jpg" 
        description="I'm going to let the image speak for itself.">
        <p>I am a rather animated person, I like to tell stories and I wanted my slides to tell my story as well. This involved showing graphs growing and changing and circles and boxes etc. I didn't really know PowerPoint well, so every new changed graph I wanted was a new slide. The Powerpoint started lagging off of sheer size. My paper also had NINE different editions, with each one going through multiple eyes. I worked really, really hard on both.  I would love to thank my best friends, Matthew and Suvesh, for sitting through FOUR practice presentations.</p>
      </TimelineItem>

      <TimelineItem 
        date="Step 9: Presentations" 
        imageSrc="/images/projects/autoignition/ait_image9.jpg" 
        description="Thank you Maxwell Braithwaite for this beautiful image.">
        <p>I'm a rather confident person, and I'm really good at public speaking. However, I still got nervous presenting my work infront of Professor Shepherd and other Caltech students. It is a bit of a different league presenting infront of such smart people. I wasn't as nervous presenting at the Southern Calfiornia Conference of Undergraduate Research. I was rather disappointed to learn I didn't advance in the Perpall Speaking Competition, but my research was chemistry and I presented in a mechanical engineering venue. I tried my hardest.</p>
      </TimelineItem>

      <TimelineItem 
        date="Step 10: Future Directions and the Classic End-Of-Research Crisis" 
        imageSrc="/images/projects/autoignition/ait_image10.jpg" 
        description="Submitting my final papers and all of my data to the lab, very nicely formatted for future use.">
        <p>Apparently, some previous data in the lab was not stored in a way that made it easy to sift through so I worked really hard formatting the data. After all of this was done, I began to think about how I feel like I should have done different research approach or done more. I had sort of a crisis that my research wouldn't have been relevant or like that it really "said" anything. Regardless of my opinion on that matter now, I wouldn't change anything. It doesn't make sense to even think like that. I learned everything I needed to learn and enjoyed the process.</p>
      </TimelineItem>
    </Timeline>
  </div>
</ProjectLayout>
